import { AdminUiExtension } from '@vendure/ui-devkit/compiler';
import path from 'path';

export const uiExtensions: AdminUiExtension = {
    id: '<%= filename %>',
    extensionPath: path.join(process.cwd(), 'libs/plugin-<%= filename %>/src/ui'),
    providers: ['providers.ts'],
    routes: [{ route: '<%= filename %>', filePath: 'routes.ts' }],
};
